<web-app>
    <servlet>
        <display-name>LAMS Appointment Service</display-name>
        <servlet-name>service.ApplicationConfig</servlet-name>
      <init-param>
         <param-name>javax.ws.rs.Application</param-name>
         <param-value>service.ApplicationConfig</param-value>
      </init-param>
   </servlet>
</web-app>